In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
import csv

In [5]:
for dirname, _, filenames in os.walk(r'C:\Users\comic\NFL-Predictor\NFL-Predictor\Data\Train-Data\Games'):#Add path to input data inside ' ' 
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [6]:
team_info_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\CombinedStats\CombinedStats1995.csv")
team_info_data.head()

,Name,Avg Points,Avg Yards,NPY/A,NRY/A,3rd%_x,4th%_x,Avg Points Let,Avg Yards Let,NPY/A Let,NRY/A Let,3rd%_y,4th%_y
0,San Francisco 49ers,28.5625,380.4375,6.8,3.6,48.9%,61.1%,16.1250,274.8750,5.1,3.0,37.9%,39.1%
1,Detroit Lions,27.2500,382.0625,6.8,4.5,45.7%,61.5%,21.0000,349.9375,6.1,4.4,38.0%,62.5%
2,Dallas Cowboys,27.1875,364.0000,7.1,4.4,44.6%,61.5%,18.1875,315.2500,5.9,4.0,44.9%,42.1%
3,Minnesota Vikings,25.7500,371.1250,6.2,4.0,47.7%,36.4%,24.0625,340.6875,6.2,3.8,41.5%,63.6%
4,Pittsburgh Steelers,25.4375,360.5625,6.4,3.7,42.2%,55.0%,20.4375,285.0625,5.7,3.6,33.7%,61.5%

In [7]:
Viewtrain_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Games\Games1995.csv")
Viewtrain_data.head()

,Week,Winner,Loser,PtsW,PtsL,Location,Day,Time
0,1,Atlanta Falcons,Carolina Panthers,23,20,NaN,Sun,1:00PM
1,1,St. Louis Rams,Green Bay Packers,17,14,@,Sun,1:00PM
2,1,San Francisco 49ers,New Orleans Saints,24,22,@,Sun,1:00PM
3,1,Cincinnati Bengals,Indianapolis Colts,24,21,@,Sun,1:00PM
4,1,Pittsburgh Steelers,Detroit Lions,23,20,NaN,Sun,1:00PM

In [8]:
#Want to create function or code block here that will grab data from first table for team 1 and team 2 and merge to new table. 
def combinedData(teamA, teamB):
    averagePointsA = team_info_data.loc[team_info_data.Name == teamA]["Avg Points"]
    averagePointsB = team_info_data.loc[team_info_data.Name == teamB]["Avg Points"]
    averageYardsA = team_info_data.loc[team_info_data.Name == teamA]["Avg Yards"]
    averageYardsB = team_info_data.loc[team_info_data.Name == teamB]["Avg Yards"]
    NPYAforA = team_info_data.loc[team_info_data.Name == teamA]["NPY/A"]
    NPYAforB = team_info_data.loc[team_info_data.Name == teamB]["NPY/A"]
    NRYAforA = team_info_data.loc[team_info_data.Name == teamA]["NRY/A"]
    NRYAforB = team_info_data.loc[team_info_data.Name == teamB]["NPY/A"]
    Third_xforA = team_info_data.loc[team_info_data.Name == teamA]["3rd%_x"]
    Third_xforB = team_info_data.loc[team_info_data.Name == teamB]["3rd%_x"]
    Fourth_xforA = team_info_data.loc[team_info_data.Name == teamA]["4th%_x"]
    Fourth_xforB = team_info_data.loc[team_info_data.Name == teamB]["4th%_x"]
    averagePointsLetA = team_info_data.loc[team_info_data.Name == teamA]["Avg Points Let"]
    averagePointsLetB = team_info_data.loc[team_info_data.Name == teamB]["Avg Points Let"]
    averageYardsLetA = team_info_data.loc[team_info_data.Name == teamA]["Avg Yards Let"]
    averageYardsLetB = team_info_data.loc[team_info_data.Name == teamB]["Avg Yards Let"]
    NPYALetforA = team_info_data.loc[team_info_data.Name == teamA]["NPY/A Let"]
    NPYALetforB = team_info_data.loc[team_info_data.Name == teamB]["NPY/A Let"]
    NRYALetforA = team_info_data.loc[team_info_data.Name == teamA]["NRY/A Let"]
    NRYALetforB = team_info_data.loc[team_info_data.Name == teamB]["NPY/A Let"]
    Third_yforA = team_info_data.loc[team_info_data.Name == teamA]["3rd%_y"]
    Third_yforB = team_info_data.loc[team_info_data.Name == teamB]["3rd%_y"]
    Fourth_yforA = team_info_data.loc[team_info_data.Name == teamA]["4th%_y"]
    Fourth_yforB = team_info_data.loc[team_info_data.Name == teamB]["4th%_y"]
    return [averagePointsA, averagePointsB]
#testing just to make sure method works as intended
print(combinedData("Atlanta Falcons", "Carolina Panthers"))

[10    22.625
Name: Avg Points, dtype: float64, 25    18.0625
Name: Avg Points, dtype: float64]

In [27]:
train_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Matchups\MatchUp1997.csv")
train_data.head()

,T1,T1 Outcome,T1 Score,T1 Location,T1 Avg Points,T1 Avg Yards,T1 NPY/A,T1 NRY/A,T1 3rd%,T1 4th%,...,T2 NPY/A,T2 NRY/A,T2 3rd%,T2 4th%,T2 Avg Points Def,T2 Avg Yards Def,T2 NPY/A Def,T2 NRY/A Def,T2 3rd% Def,T2 4th% Def
0,Detroit Lions,1,28,Home,23.6875,362.3750,5.7,5.5,35.3%,44.4%,...,5.7,3.7,35.2%,61.5%,22.5625,319.125,6.2,4.1,36.6%,83.3%
1,Arizona Cardinals,0,21,Away,17.6875,294.5625,5.1,3.2,35.1%,50.0%,...,6.0,4.3,41.1%,50.0%,25.3125,355.125,6.0,4.3,44.9%,68.8%
2,New York Giants,1,31,Home,19.1875,282.0625,5.0,3.8,31.2%,55.6%,...,5.6,4.2,37.2%,63.6%,23.2500,308.250,5.5,4.2,36.9%,57.1%
3,Pittsburgh Steelers,0,7,Home,23.2500,346.3750,6.3,4.3,44.7%,61.1%,...,5.3,3.9,36.2%,46.2%,19.6250,282.250,4.9,3.9,38.2%,45.5%
4,New Orleans Saints,0,24,Away,14.8125,252.8125,5.1,3.5,26.1%,63.6%,...,5.6,3.5,32.7%,36.4%,22.4375,316.625,5.8,3.8,35.3%,45.5%

In [29]:
Viewtest_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Games\Games1995.csv")
Viewtest_data.head()

,Week,Winner,Loser,PtsW,PtsL,Location,Day,Time
0,1,Atlanta Falcons,Carolina Panthers,23,20,NaN,Sun,1:00PM
1,1,St. Louis Rams,Green Bay Packers,17,14,@,Sun,1:00PM
2,1,San Francisco 49ers,New Orleans Saints,24,22,@,Sun,1:00PM
3,1,Cincinnati Bengals,Indianapolis Colts,24,21,@,Sun,1:00PM
4,1,Pittsburgh Steelers,Detroit Lions,23,20,NaN,Sun,1:00PM

In [42]:
#test_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Test-Data\Matchups\MatchUp1994.csv")
test_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Matchups\Matchup1998.csv")
test_data.head()

,T1,T1 Score,T1 Location,T1 Avg Points,T1 Avg Yards,T1 NPY/A,T1 NRY/A,T1 3rd%,T1 4th%,T1 Avg Points Def,...,T2 NPY/A,T2 NRY/A,T2 3rd%,T2 4th%,T2 Avg Points Def,T2 Avg Yards Def,T2 NPY/A Def,T2 NRY/A Def,T2 3rd% Def,T2 4th% Def
0,Tampa Bay Buccaneers,7,Away,19.6250,297.1250,5.5,4.1,40.40%,42.90%,18.4375,...,7.8,4.3,51.40%,100.00%,18.5000,316.6250,5.8,4.0,34.00%,53.10%
1,Green Bay Packers,38,Home,25.5000,352.2500,6.7,3.4,45.40%,38.50%,19.9375,...,5.9,4.4,34.10%,50.00%,23.6250,319.8125,5.8,4.3,41.00%,71.40%
2,Atlanta Falcons,19,Away,27.6250,342.9375,7.1,4.1,42.20%,33.30%,18.0625,...,5.9,3.6,37.00%,47.60%,25.8125,365.1250,6.9,4.3,41.90%,55.60%
3,Cincinnati Bengals,14,Home,16.7500,301.5000,5.5,4.0,33.90%,37.90%,28.2500,...,5.9,4.3,40.00%,36.40%,20.0000,320.0625,6.5,3.9,37.80%,18.80%
4,New York Giants,31,Home,17.9375,278.4375,4.7,4.0,30.60%,44.40%,19.3125,...,5.3,4.2,31.60%,33.30%,26.3125,334.6250,5.5,4.6,38.50%,40.00%

In [56]:
from sklearn.ensemble import RandomForestClassifier


y = train_data["T1 Outcome"]

#uncomment below when data is good
features = ["T1 Avg Points", "T2 Avg Points", "T1 Avg Yards","T2 Avg Yards", "T1 NPY/A", "T2 NPY/A", "T1 NRY/A", "T2 NRY/A"]
#Figure out which part of rest is throwing it off , "T1 3rd%", "T2 3rd%", "T1 4th%", "T2 4th%","T1 Avg Points Def", "T2 Avg Points Def", "T1 Avg Yards Def", "T2 Avg Yards Def", "T1 NPY/A Def", "T2 NPY/A Def", "T1 NRY/A Def", "T2 NRY/A Def", "T1 3rd% Def", "T2 3rd% Def", "T1 4th% Def", "T2 4th% Def"
x = pd.get_dummies(train_data[features])
x_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x, y)
predictions = model.predict(x_test)

output = pd.DataFrame({'T1': test_data.T1, 'T1 Outcome': predictions})